{% extends 'board.html.twig' %}

{% block content %}
    <h1>Modifier le favoris</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.url, 'Url') }}
            {{ form_widget(form.url, { attr: { class: 'form-control', placeholder: 'Entrez une url' } }) }}
            {{ form_errors(form.url) }}
        </div>
        <div class="form-group">
            {{ form_label(form.title, 'Titre') }}
            {{ form_widget(form.title, { attr: { class: 'form-control', placeholder: 'Entrez un titre' } }) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group text-right">
            <a href="{{ path('collection', { boardId: bookmark.collection.board.id, collectionId: bookmark.collection.id }) }}" class="btn btn-link">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
