<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="app">

                {{ render(controller('app.ui.action.menu.topbar_action', { user: app.user.model })) }}

                <div class="container-fluid">
                    {% block container %}{% endblock %}
                </div>

                <div class="alerts">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible fade alert-{{ label }} show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>

            {% block footer %}
                <footer class="footer">
                    <img src="{{ asset('assets/images/elephant-black.svg') }}" alt="Elephant">
                    <h5>Elephant</h5>
                </footer>
            {% endblock %}

        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
