<ul class="nav nav-pills flex-column collections-nav">
    {% for collection in collections %}
        <li class="nav-item toggle-item-hover">
            <a href="{{ path('collection', { collectionId: collection.id }) }}" class="nav-link{% if collection.active %} active{% endif %}">
                {{ collection.title }}
                <span class="badge badge-pill badge-default pull-right toggle-item-hover-show">{{ collection.bookmarks }}</span>
            </a>
            <div class="nav-link toggle-item-hover-hide{% if collection.active %} active{% endif %}">
                <a href="{{ path('collection_edit', { collectionId: collection.id }) }}" class="btn btn-link btn-sm mr-2">Edit.</a>
                <form action="{{ path('collection_remove', { collectionId: collection.id }) }}" method="POST" style="display: inline">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-link btn-sm">Suppr.</button>
                </form>
            </div>
        </li>
    {% endfor %}
