{% extends 'board.html.twig' %}

{% block add_bookmarks_button %}
    <a href="{{ path('bookmark_add', { boardId: boardId, collectionId: collection.id }) }}" class="btn btn-success btn-block">
        <i class="fa fa-star-o"></i>
        Ajouter un favoris
    </a>
{% endblock %}

{% block content %}
    <h1>
        {{ collection.title }}

        <div class="float-right">
            {# Export button #}
            <div class="btn-group" data-toggle="tooltip" title="Exporter">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i>
                    <span class="sr-only">Exporter</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('collection_export', { boardId: boardId, collectionId: collection.id, format: 'json' }) }}">json</a>
                    <a class="dropdown-item" href="{{ path('collection_export', { boardId: boardId, collectionId: collection.id, format: 'csv' }) }}">csv</a>
                    <a class="dropdown-item" href="{{ path('collection_export', { boardId: boardId, collectionId: collection.id, format: 'xml' }) }}">xml</a>
                </div>
            </div>

            {# Import button #}
            <a href="{{ path('collection_import', { boardId: boardId, collectionId: collection.id }) }}" class="btn btn-primary" data-toggle="tooltip" title="Importer">
                <i class="fa fa-upload"></i>
                <span class="sr-only">Importer</span>
            </a>
        </div>
    </h1>

    <ul class="list-group">
        {% for bookmark in collection.bookmarks %}
            <li class="list-group-item collection-bookmark">
                {{ bookmark.title }}<br>
                {{ bookmark.url }}<br>

                {% if is_granted('COLLABORATOR_WRITE', board) %}
                    <div class="btns">
                        <a href="{{ path('bookmark_edit', { 'boardId': boardId, 'collectionId': collection.id, 'bookmarkId': bookmark.id }) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Modifier">
                            <i class="fa fa-edit"></i>
                        </a>
                        <form action="{{ path('bookmark_remove', { 'boardId': boardId, 'collectionId': collection.id, 'bookmarkId': bookmark.id }) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Supprimer">
                                <i class="fa fa-close"></i>
                            </button>
                        </form>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
