{% extends 'base.html.twig' %}

{% block container %}
    <h1 class="mt-3">Boards</h1>

    <div class="mb-3">
        <a href="{{ path('board_add') }}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Ajouter un board
        </a>
    </div>

    {% for board in boards %}
        <div class="card mb-3">
            <div class="card-block">
                <h4 class="card-title">
                    {% if is_granted('COLLABORATOR_OWNER', board) %}
                        <a href="{{ path('board_settings_options', { 'boardId': board.id }) }}" class="btn btn-primary float-right" data-toggle="tooltip" title="Configuration">
                            <i class="fa fa-cog"></i>
                            <span class="sr-only">Configuration</span>
                        </a>
                    {% endif %}
                    <a href="{{ path('board', { 'boardId': board.id }) }}">
                        {{ board.title }}
                    </a>
                </h4>
                <ul class="list-inline">
                    <li class="list-inline-item mr-4">
                        <i class="fa fa-user"></i>
                        {{ board.level }}
                    </li>
                    <li class="list-inline-item mr-4">
                        <i class="fa fa-users"></i>
                        {{ board.collaborators }} collaborateurs
                    </li>
                    <li class="list-inline-item mr-4">
                        <i class="fa fa-archive"></i>
                        {{ board.collections }} collections
                    </li>
                    <li class="list-inline-item mr-4">
                        <i class="fa fa-star"></i>
                        {{ board.bookmarks }} favoris
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock %}
