{% extends 'board/settings/base.html.twig' %}

{% block settings_content %}
    <div class="card">
        <div class="card-header">
            Collaborateurs
        </div>
        <div class="card-block">
            {{ form_start(update_form) }}
                {{ form_errors(update_form) }}
                <div class="form-group">

                    {% for collaborator in update_form.collaborators.children %}
                        <div class="row mb-3">
                            <div class="col-md-3">
                                {{ collaborator.vars.data.user }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(collaborator.level, { attr: { class: 'form-control' } }) }}
                            </div>
                            <div class="col-md-7 text-right">
                                <button type="button" data-delete="{{ path('board_settings_remove_collaborator', { boardId: collaborator.vars.data.board_id, userId: collaborator.vars.data.user_id }) }}" class="btn btn-danger">&times;</button>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="form-group text-right">
                    <a href="{{ path('home') }}" class="btn btn-link">Annuler</a>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            {{ form_end(update_form) }}
        </div>
        <div class="card-footer">
            <h5>Ajouter un collaborateur</h5>
            <p>Recherchez par nom, prénom ou adresse email.</p>
            {{ form_start(add_form) }}
                {{ form_errors(add_form) }}
                {{ form_label(add_form.user, 'User' , { label_attr: { class: 'sr-only' } }) }}
                <div class="input-group">
                    {{ form_widget(add_form.user, { attr: { class: 'form-control' } }) }}
                    <button class="btn btn-primary">Ajouter</button>
                </div>
                {{ form_errors(add_form.user) }}
            {{ form_end(add_form) }}
        </div>
    </div>
{% endblock %}
