{% extends 'board/settings/base.html.twig' %}

{% block settings_title %}Collaborateurs{% endblock %}

{% block settings_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">

            {% for collaborator in form.collaborators.children %}
                <div class="row mb-3">
                    <div class="col-md-3">
                        {{ collaborator.vars.data.user }}
                    </div>
                    <div class="col-md-2">
                        {{ form_widget(collaborator.level, { attr: { class: 'form-control' } }) }}
                    </div>
                    <div class="col-md-7 text-right">
                        <a href="" class="btn btn-danger">&times;</a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="form-group text-right">
            <a href="{{ path('home') }}" class="btn btn-link">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
